PRJ_DEV = 'ABCDEV'

# todo: also "bound" to subtask type
qaType = 'QA'
taType = 'TA'
baType = 'BA'
devType = 'Development'


class SubtaskType(object):
    dev = 'dev'
    ba = 'ba'
    ta = 'ta'
    qa = 'qa'


default_assignees = {
    PRJ_DEV: {
        SubtaskType.dev: 'johny',
        SubtaskType.ba: 'frankie',
        SubtaskType.ta: 'sybille',
        SubtaskType.qa: 'agnes'
    }

}

# todo: should it be project-specific?
# todo: get/set properties here as well
class CustomFields(object):
    WO = 'customfield_11311'
    TASK_TYPE = 'customfield_10049'
    EXTERNAL_ID = 'customfield_10034'


EXTERNAL_WO = '123-some-code'
EXTERNAL_TASK_TYPE = 'Bug'

external_projects = {
    'ABCEXT': 'ABCDEV'
}

# from "1.2.3.102" version number it'll take first 2 parts, so "1.2"
parts_in_number_for_prefix = 2
